@model  System.Data.DataTable

@using System.Data;

@{
    ViewBag.Title = "View";

}

<h2>View</h2>

<table class="table table-hover">
    <thead>
        <tr>
            @foreach (DataColumn col in Model.Columns)
            {


                if (col.ColumnName != "DIRowID")
                {
                    <th>@col.ColumnName</th>
                }
                else
                {
                    <th>Edit</th>
                }
            }
        </tr>



    </thead>
    <tbody>
        @foreach (DataRow row in Model.Rows)
        {

            <tr>



                @foreach (DataColumn col in Model.Columns)
                {

                    if (col.ColumnName == "DIRowID")
                    {
                        <td>@Html.ActionLink("Edit", "Edit", new { TableName = @Model.TableName, RowId = @row[col.ColumnName].ToString()}) </td>

                    }
                    else
                    {
                        <td>@row[col.ColumnName]</td>
                    }
                }

            </tr>


        }
</tbody>
   
</table>
<h3>
    table name should be here >>>@Model.TableName

</h3>





